@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

body {
    padding:0;
    height:100%;
    width:100%;
    color: rgb(255, 255, 255) !important;
    background: rgb(33, 36, 45) !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 198, 42);
}
::-webkit-scrollbar-track {
    background: rgba(240, 240, 240, 0,1);
    border-radius: 0px;
}

.bg-main {
    background: linear-gradient(23deg, rgb(25 50 120 / 70%) 15%, rgb(144 30 74 / 70%) 100%);
}

.bg-mastodon {
    background: linear-gradient(331deg, rgb(28 52 167 / 25%) 15%, rgb(101 91 117) 100%);
}

.bg-discord {
    background: linear-gradient(17deg, rgb(63 80 255 / 31%) 15%, rgb(74 89 255 / 79%) 100%);
}

.bg-features {
    background: linear-gradient(17deg, rgb(40 48 72 / 72%) 15%, rgb(28 31 51 / 91%) 100%);
}

.bg-twitch {
    background: linear-gradient(17deg, rgb(33 24 64 / 85%) 15%, rgb(92 31 173 / 91%) 100%);
}

.bg-altv {
    background: linear-gradient(17deg, rgb(40 48 72 / 72%) 15%, rgb(28 31 51 / 91%) 100%);
}

.bgi-main {
    background: url(../images/bg-main.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -9;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.bgi-mastodon {
    background: url(../images/bg-mastodon.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -9;
    opacity: 0.3;
    height: 846px;
    width: 100%;
    filter: blur(4px);
}

.bgi-discord {
    background: url(../images/bg-discord.jpg);
    background-size: cover;
    position: absolute;
    z-index: -9;
    opacity: 0.3;
    height: 281px;
    width: 100%;
    filter: blur(4px);
}

.bgi-features {
    background: url(../images/bg-features.png);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -9;
    opacity: 0.8;
    height: 1986px;
    width: 100%;
    filter: blur(4px);
    border-top: 3px solid rgb(0,0,0);
}

.bgi-twitch {
    background: url(../images/bg-twitch.jpg);
    background-size: cover;
    position: absolute;
    z-index: -9;
    opacity: 0.7;
    height: 339px;
    width: 100%;
    filter: blur(4px);
}

.bgi-altv {
    background: url(../images/bg-altv.jpg);
    background-size: cover;
    position: absolute;
    z-index: -9;
    opacity: 0.7;
    height: 818px;
    width: 100%;
    filter: blur(4px);
}

.page {
    padding: 100px !important;
}

.page-window {
    width: 100vw;
    height: 100vh;
}

.top-dark {
    background: rgb(33 35 45 / 63%);
    backdrop-filter: blur(100px);
    border-bottom: 1px solid rgb(0 0 0 / 24%);
}

.nav-link:focus, .nav-link:hover {
    color: rgb(255 255 255) !important;
}

a.nav-link {
    border-radius: 3px;
    margin-left: 12px;
    color: rgb(255 255 255 / 49%);
    padding: 10px 20px !important;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Oxanium', Courier, monospace;
    font-weight: bold;
    letter-spacing: 3px;
}

a.nav-link:hover {
    color: #ffffff;
    text-shadow: 0px 0px 40px rgb(255 131 164);
}

.logo {
    padding-top: 267px;
    text-align: center;
}

.logo img {
    width: 900px;
    filter: drop-shadow(0px 0px 30px rgba(20, 20, 20, 0.40));
}

.eslogan {
    font-size: 28px;
    color: rgb(255 255 255 / 56%);
    text-shadow: 2px 2px 0px rgb(0 0 0 / 21%);
    width: fit-content;
    margin: 106px auto 50px auto;
    font-family: 'Oxanium', Courier, monospace;
    font-weight: 900;
    text-transform: uppercase;
}

.btn-discord a {
    background: rgb(0 0 0 / 10%);
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
    padding: 28px 30px 23px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', Courier, monospace;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.btn-discord a:hover {
    background: #5865f2;
    color: rgb(255 255 255);
}

.btn-discord a img {
    width: 43px;
    margin-right: 13px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.btn-altv a {
    background: rgb(0 0 0 / 10%);
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
    padding: 28px 30px 23px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', Courier, monospace;
    display: block;
    width: fit-content;
    margin-top: 30px;
}

.btn-altv a:hover {
    background: rgb(0 135 54 / 33%);
    color: rgb(255 255 255);
}

.btn-altv a img {
    width: 43px;
    margin-right: 13px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.btn-youtube a {
    background: rgb(0 0 0 / 10%);
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
    padding: 28px 30px 23px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', Courier, monospace;
    display: block;
    width: fit-content;
    margin: 79px auto 46px auto;
}

.btn-youtube a:hover {
    background: rgb(210 63 63 / 33%);
    color: rgb(255 255 255);
}

.btn-youtube a img {
    width: 43px;
    margin-right: 13px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.btn-twitch a {
    background: rgb(0 0 0 / 10%);
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
    padding: 28px 30px 23px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 20px;
    font-family: 'Atkinson Hyperlegible', Courier, monospace;
    display: block;
    width: fit-content;
    margin: 30px auto;
}

.btn-twitch a:hover {
    background: rgb(149 84 255 / 33%);
    color: rgb(255 255 255);
}

.btn-twitch a img {
    width: 43px;
    margin-right: 13px;
    vertical-align: middle;
    margin-bottom: 1px;
}

.title-desc {
    font-family: 'Oxanium', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: rgb(255 255 255 / 40%);
    letter-spacing: 1px;
}

.title {
    font-family: 'Oxanium', Courier, monospace;
    font-weight: 700;
    font-size: 37px;
    color: rgb(255 255 255);
    width: 690px;
}

.title b {
    color: rgb(255 200 0);
}

iframe {
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 42%);
}

.dev {
    z-index: 999;
    position: relative;
    background: rgb(133 0 255 / 65%);
    width: fit-content;
    padding: 12px 22px 6px 22px;
    font-size: 19px;
    margin: 40px 59px -47px;
    border-radius: 100px;
    font-weight: bold;
    float: right;
    backdrop-filter: blur(5px);
    font-family: 'Oxanium', Courier, monospace;
}

.video {
    margin: 50px 0;
}

.description {
    font-size: 23px;
    font-weight: lighter;
    color: rgb(255 255 255 / 80%);
}

.description b {
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    background: rgb(0 0 0 / 18%);
    padding: 3px 5px;
    border-radius: 3px;
}

.asset-1 {
    width: 100%;
    margin-top: -178px;
    margin-bottom: -148px;
}

.asset-2 {
    width: 421px;
    position: absolute;
    margin-left: -50px;
}
